html,*{
    margin:0 0 0 0;
   
    padding:0 0 0 0;
    border:0 0 0 0;
    font-size: 30px;
    
    color:white;
}
body{
 background-color: white;
    background-size:cover;
}

#iinnpp{
    margin-top: 20px;
    margin-bottom: 20px;
    cursor:not-allowed;
    justify-content: center;
    align-content: center;
    align-self: center;
    
    width:200px;
}
#calculator{
    display:flex;
    flex-direction: column;
   text-align: center;
    border:white 6px solid;
    border-radius: 30%;
    width: 400px;
  background-color: black;
  
  
}
.button.number{
border:2px solid white;
border-radius: 15%;
margin-right: 10px;
margin-bottom: 10px;
cursor: pointer;
font-size: 50px;
}
.operator{
 
        border:2px solid white;
        margin-right: 10px;
        margin-bottom: 10px;
        cursor: pointer;
        font-size: 50px;
        width: 100px;
        
}
#calcOptions{
    margin-left: 20px;
align-content: center;
text-align: center;
display: flex;
flex-direction: column;
}
#buttons{
    display:flex;
    flex-direction: column;
}
#test{

    display: flex;
    flex-direction: row;
    padding:10px 10px 10px 10px;
    justify-content: center;
  
}
#bkground{
    display: flex;
    
    width: 100%;
    justify-content: center;
}
.columnsnumbers{
    display:flex;
    flex-direction: row;
    align-self: center;
    margin-bottom: 20px;
   
}
#btnCalc{
  background-color: white;
  color:black;
  border: 1px white solid;
    align-self: center;
    margin-right: 10px;
        margin-bottom: 10px;
        cursor: pointer;
        font-size: 50px;
        width: 100px;
    
}